article p:first-child {
	font-size: 120%;
	font-weight: bold;
}

article p::first-line {
	color: rebeccapurple;
}

article p:first-child::first-line {
	font-style: italic;
}

.box::before {
	content: "Conteudo adicionado com CSS. ";
}

.box::after {
	content: "Adicionado depois do elemento HTML.";
}