.box {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  border: 5px solid lightblue;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 20px;
}

h2 {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  width: 190px;
  background-image: url('images/star-alt-icon.png'), url('images/star-alt-icon.png');
  background-repeat: no-repeat, repeat-y;
  background-position: 0 center, 100%;
  background-size: 24px;
}
